<ion-view view-title="Voice Bank">
  <ion-pane class="background-color-grey"> 
    <ion-content>     
      <div class="row row-wrap">
        <div class="col col-50" ng-repeat="item in items">
         <a href="{{item.link}}">
            <div class="card card-facebook margin-0">
                <ion-item class="centertext">
                      <i class="fa {{item.icon}} circle"></i>
                    <h4>{{ item.title }}</h4>              
                </ion-item>             
            </div>
          </a>
        </div>
      </div>
      <button class="button button-block button-stable icon-right ion-log-out" ng-click="logout()">
            Logout
      </button>
    </ion-content>
    </ion-pane>
</ion-view>




<!-- <ion-view view-title="Voice Banking">
  <ion-content ng-controller="LandingCtrl">
    <div class=list>
    	<a href="#/accountDetail" class="item" ng-repeat="note in notes">
    		<h2>{{note.title}}</h2>
    		<p>{{note.description}}</p>
    	</a>
    </div>
  </ion-content>
</ion-view> -->