<ion-view view-title="Voice Transactions" name="login-view"> 
  <ion-content>       
    <div class="card card-facebook margin-0">
      <div class="centertext">
         <img ng-src="img/Mathi.png" class="img-responsive"/>          
      </div> 
      <div>
        <h5 class="centertext">My name is Mathi and Iam here to help with your banking queries.Ask me to transact.</h5>
      </div>
    </div>    
    
    <div class="container">            
              <a class="item item-icon-left text" ng-click="actionVoiceCommand()">
              <i class="icon ion-mic-a"></i>          
                <span class="item-note ">
                   Tap,Speak & Transact 
                </span>
              </a>                
     </div> 
  </ion-content>   

</ion-view>